body {
  margin: 5;
  background-color: #F5FAFD;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-app{
  background-color: #E8F9F3;
}

.navbar-user {
    background-image: linear-gradient(to bottom,#35b6ab 0,#3C96C4 100%); /* override background image gradient w/ flat color */
}