@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 5;
  background-color: #f5fafd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Poppins" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pasien-body {
  font-family: Poppins;
  padding: 2%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", Poppins,
    monospace;
}

.bg-app {
  background-color: #f5fafd;
}

.navbar-user {
  background-image: linear-gradient(
    to bottom,
    #15b7b7 0,
    #3c96c4 100%
  ); /* override background image gradient w/ flat color */
}

.navbar-admin {
  background-image: linear-gradient(
    to bottom,
    #3c96c4 0,
    #27b99c 100%
  ); /* override background image gradient w/ flat color */
}

.body-title {
  font-size: xx-large;
}

.breadcrumb-properties {
  border-radius: 50px;
}
